div { 
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.parent {
  height:70vh;
  margin:0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: -webkit-center;
  list-style: none;

  .child {
    height: 40px;
    max-width: 40rem;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6628a5;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
  }

  .child:hover{
    background-color: #ffffffe9;
  }
}