<div>
  <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="PokéApi">
</div>

<cdk-virtual-scroll-viewport itemSize="40" class="parent" (scrolledIndexChange)="getNewData()">
  <mat-card (click)="showPokemon(poc)" *cdkVirtualFor="let poc of pokemonArray" class="child animated bounceInLeft">{{poc.name}}</mat-card>
</cdk-virtual-scroll-viewport>