<div class="icon-back" (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</div>

<mat-card>

  <h1>{{pokemon.name}}</h1>

  <div class="images">
    <img src="{{pokemon.sprites.front_default}}">
    <img src="{{pokemon.sprites.back_default}}">
    <img src="{{pokemon.sprites.front_female}}">
    <img src="{{pokemon.sprites.back_female}}">
    <img src="{{pokemon.sprites.front_shiny}}">
    <img src="{{pokemon.sprites.back_shiny}}">
    <img src="{{pokemon.sprites.front_shiny_female}}">
    <img src="{{pokemon.sprites.back_shiny_female}}">
  </div>

  <div class="details">  
    <span>
      <h3>Abilities</h3>
      <p *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</p>
    </span>

    <span>
      <h3>Types</h3>
      <p *ngFor="let type of pokemon.types">{{type.type.name}}</p>
    </span>

    <span>
      <h3>Stats</h3>

      <h4>Hp</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[0].base_stat}}"></mat-progress-bar>
      
      <h4>Attack</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[1].base_stat}}"></mat-progress-bar>
      
      <h4>Defense</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[2].base_stat}}"></mat-progress-bar>
      
      <h4>Special-attack</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[3].base_stat}}"></mat-progress-bar>
      
      <h4>Special-defense</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[4].base_stat}}"></mat-progress-bar>
      
      <h4>Speed</h4>
      <mat-progress-bar mode="determinate" value="{{pokemon.stats[5].base_stat}}"></mat-progress-bar>

    </span>
  </div>
    
</mat-card>