.icon-back {
  color: #fff;
  cursor: pointer;
  text-align: left;
}

h1 {
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #6628a5;
}

.images {
  text-align: -webkit-center; 
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  span {
    margin: 1rem;
    background-color: #6628a5;
    color: #fff;
    padding: 1rem;
    width: 10rem;
    border-radius: 6px;
    text-align: -webkit-center; 
  
    h3 {
      font-weight: bold;
    }
  
    h3, h4, p {
      margin: 0px;
    }

    h4 {
      margin-top: 10px;
    }
    mat-progress-bar {
      margin-bottom: 10px;
    }
  }

}
