
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~animate.css/animate.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 95%;
  background-color: #6628a5;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}